<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Careers
      </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        width: 100;
        height: 360px;
        object-fit: cover;
        margin: auto;
      }
      .contain {
        max-width: 720px;
        margin: 0 auto;
      }
      
      </style>
          
  </head>
  <body>
    <h1 class="text-center mt-2 mb-4">Top Careers Page</h1>
    <img src='https://db993c38-fc80-48c3-8353-6b27932608dc-00-2tlmko8ta708t.pike.replit.dev/static/banner.png' class="rounded mx-auto d-block" height='320'>
    <div class="container">
    <h2 class="text-center mt-2 mb-4">About</h2>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

    <h2 class="text-center mt-2 mb-4">Openings</h2>
    <p class="lead">Todo -- show the jobs here</p>
      <div class='text-center'>
            <button class="btn btn-primary btn-lg">Contact Us</button>
          <p class=mt-4>Copyright 2024</p>
      </div>      
  </div>
</body>
</html>